<div class="list-collections-container__classes flex flex-col items-center my-8">
    <h1 class="list-collections-title__classes text-3xl font-medium">{{ section.settings.title }}</h1>

    <div class="list-collections__classes max-w-6xl mx-auto my-3">
        <div class="list-collections-inner__classes grid grid-cols-1 md:grid-cols-3 gap-3">
            {% for collection in collections %}
                {% if collection.all_products_count > 0 %}
                    <div class="collections__classes w-full py-6 px-3">
                        <div class="collections-inner__classes border bg-white overflow-hidden">
                            <a class="collections-link__classes " href="{{ collection.url }}">
                                <div class="collections-image-container__classes h-80 overflow-hidden">
                                    {% if collection.featured_image != blank %}
                                        {% assign collection_image = collection.featured_image %}
                                    {% else %}
                                        {% assign collection_image = collection.products.first.image %}
                                    {% endif %}
                                    <div class="collections-image__classes w-full h-full object-cover transition duration-1000 ease-in-out transform hover:scale-105">
                                        {{ collection_image | image_url: width: 300, height: 400 | image_tag }}
                                    </div>
                                </div>
                            </a>

                            <div class="collections-title-container__classes p-4 bg-gray-100">
                                <h1 class="collections-title__classes text-xl">{{ collection.title }}</h1>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Template List Collections",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Collections",
            "label": "Title"
        }
    ],
    "presets": [
      {
        "name": "List Collections",
        "category": "Custom"
      }
    ]
}
{% endschema %}