<div class="color-{{ section.settings.color_scheme }}">
  {{ section.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "Custom Liquid Content",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom Liquid",
      "info": "Add app snippets or other code to create advanced customizations. [Learn more](https://shopify.dev/docs/api/liquid)"
    },
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "Color scheme",
			"info": "To change the card color scheme, update your theme settings.",
			"default": "scheme-1"
		}
  ],
  "presets": [
    {
      "name": "Custom Liquid Content"
    }
  ]
}
{% endschema %}
