{% comment %} subscription-main-section.liquid {% endcomment %}
 
<section class="subscription_main_section">
    <div class="subscription_main_section__image">
        
        
    </div>
    <div class="subscription_main_section__right_column">
        <div class="right_column__content_div">
            <h2 class="content_div__header_classes">
                Subscription Main Section
            </h2>
            <div class="content_div__content">
                <div class="content_div__content_subtitle_para_div">
                    <h3 class="content_div__content_subtitle_classes">
                        Subtitle
                    </h3>
                    <h4 class="content_div__content_paragraph_classes">
                        Paragraph
                    </h4>
                </div>   

                <div class="content_div__content_subtitle_para_div">
                    <h3 class="content_div__content_subtitle_classes">
                        Subtitle
                    </h3>
                    <h4 class="content_div__content_paragraph_classes">
                        Paragraph
                    </h4>
                </div>   

                <div class="content_div__content_subtitle_para_div">
                    <h3 class="content_div__content_subtitle_classes">
                        Subtitle
                    </h3>
                    <h4 class="content_div__content_paragraph_classes">
                        Paragraph
                    </h4>
                </div>   
                
            
            </div>
        </div>

        <button class="right_column__button">
        
        
        </button>
    </div>
</section>


{% schema %}
{
    "name": "Subscription Main Section",
    "settings": [],
    "presets": [],
    "blocks": []
}
{% endschema %}